.DS_Store
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.class
*.jar
*.war
*.ear

.settings/
.classpath
.project
bin/
build/
lib/
src/test/java/io/proleap/vb6/examples/
src/test/resources/io/proleap/vb6/examples/
target/
